.avatar1 {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    
}
.mainCont{
    /* background-color: blueviolet; */
    width: 100%;
    
   
}

.outer-div{
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    width: 900px;
    margin-top:14px;
    padding: 0px 3px;
    margin-left: auto;
    margin-right: auto;
}
.div1{
    /* width: 20%; */
    /* background-color: navajowhite; */
    /* height: 50px; */
    /* display: block; */
    /* display: inline; */
}
.div2{
/* display: flex; */
    /* width: 80%; */
    /* background-color: rgb(26, 16, 2); */
    /* height: 50px; */
}
.cross{
    display: block;
}










.img-div1{
    background-color: yellow;
   width: 20%;
    
}
.prop-title{
    overflow:hidden;
    text-overflow:ellipsis; 
    
   
    white-space: nowrap;
 
}

