.main-div{
    background-color:  red;
    border-radius: 40px;
    display: flex;
    -webkit-border-radius: 60px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.left-div1{
    /* background-color:  rgb(243, 243, 239); */
 width: 30%;
 height: 700px;
 display: flex;
 justify-content: center;
 
 padding: 0px 20px;
    
}
.left-div{
    background-color:  rgb(229, 229, 226);
 
 height: 700px;
 display: flex;
 width: 30%;
 
 padding: 0px 20px;
    
}
.right-div{
   background-color:  rgb(219, 219, 219);
   width: 70%;
   /* border: 1px solid red; */
   /* border-radius:40px; */
   /*display: flex;
   *//*height: 700px;
   webkit-border-radius:400px; */
   
}